<section id="sidebar">
  <a href="#" class="brand"><i class="bx bxs-smile icon"></i> AdminSite</a>
  <ul class="side-menu">
    <li>
      <a href="#" class="active"><i class="bx bxs-dashboard icon"></i> Dashboard</a>
    </li>
    <li class="divider" data-text="main">Main</li>
    <li>
      <a href="#"><i class="bx bxs-inbox icon"></i> Pengajauan Klaim<i class="bx bx-chevron-right icon-right"></i></a>
      <ul class="side-dropdown">
        <li>
          <a href="/klaim" class="side-link">On Prosses</a>
        </li>
        <li>
          <a href="/klaim/pengajuan-spk">Pengajuan SPK</a>
        </li>
        <li>
          <a href="/klaim/spk-partial">SPK Partial</a>
        </li>
        <li>
          <a href="/klaim/spk-ctl">SPK CTL</a>
        </li>
        <li>
          <a href="/klaim/spk-atl">SPK ATL</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#"><i class="bx bxs-inbox icon"></i> Claim Rejection <i class="bx bx-chevron-right icon-right"></i></a>
      <ul class="side-dropdown">
        <li>
          <a href="/onprosses-claimclosed">On Prosses</a>
        </li>
        <li>
          <a href="/done-surat-tolak">Done Surat Tolak</a>
        </li>
        <li>
          <a href="/final-closed">Final Closed</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#"><i class="bx bxs-inbox icon"></i> Investigasi<i class="bx bx-chevron-right icon-right"></i></a>
      <ul class="side-dropdown">
        <li>
          <a href="/onprosses-investigasi">Onprosses</a>
        </li>
        <li>
          <a href="#">Investigasi & <br />Pembayaran</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#"><i class="bx bxs-inbox icon"></i> SPGR&LOD <i class="bx bx-chevron-right icon-right"></i></a>
      <ul class="side-dropdown">
        <li>
          <a href="/spgrlod/onprosses">On Prosses</a>
        </li>
        <li>
          <a href="/spgrlod/done">Done SPGR/LOD& <br />Payment</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#"><i class="bx bxs-inbox icon"></i> PLA&DLA <i class="bx bx-chevron-right icon-right"></i></a>
      <ul class="side-dropdown">
        <li>
          <a href="#">XOL</a>
        </li>
        <li>
          <a href="#">FOB</a>
        </li>
        <li>
          <a href="#">COINS</a>
        </li>
      </ul>
    </li>
  </ul>
</section>
